header {
    background-color: #ff7f00;
    color: #ededed;
}

.user-container {
    transition: all .2s ease;
    justify-content: center;
    cursor: pointer;

    &:hover {
        justify-content: start;
    }

    &:hover .username {
        display: block;
    }
}

.username {
    display: none;
    width: 0;
    transition: all .2s ease;
}

.user-info-container {
    /* Align text to the right within its own element */
    text-align: right;
    /* Set white-space to nowrap to prevent text wrapping within the element */
    white-space: nowrap;
    /* Display as inline-block to allow width adjustment based on content */
    display: inline-block;
    /* Position the text content absolutely within its container */
    position: relative;
    /* Ensure the right edge stays fixed */
    right: 0;
}

.big-tr-bl-bevel {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-radius: 0 3rem 0 3rem;
    corner-shape: bevel;
}

.small-bl-bevel {
    border-bottom: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-radius: 0 0 0 1.5rem;
    corner-shape: bevel;
}

.small-tr-bl-bevel {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-radius: 0 1.5rem 0 1.5rem;
    corner-shape: bevel;
}

.small-tr-bevel {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-radius: 0 1.5rem 0 0rem;
    corner-shape: bevel;
}

.big-tl-br-bevel {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-radius: 3rem 0 3rem 0;
    corner-shape: bevel;
}

.small-tl-br-bevel {
    border-bottom: 1px solid #ededed;
    border-top: 1px solid #ededed;
    border-left: 1px solid #ededed;
    border-right: 1px solid #ededed;
    border-radius: 1.5rem 0 1.5rem 0;
    corner-shape: bevel;
}

.nav-container {
    max-height: 0;
    /* Collapsed state */
    overflow: hidden;
    transition-property: max-height, border-top;
    transition-duration: 0.25s;
    transition-timing-function: ease;
    transition-delay: 0, 0.5s;
    // border-top: 0px solid transparent;

}

.nav-container-expanded {
    max-height: 500px;
    overflow: visible;

    // border-top: 10px solid white;
}

.title-bar-container {
    background: #ffffff;
    background: linear-gradient(178deg, rgba(255, 255, 255, .1) 0%, rgba(0, 0, 0, 0.025) 100%);
}

.hamburger {
    background: transparent;
    transition: all .3s ease;
    width: 40px;

    &:hover {
        background: rgba(255, 255, 255, .8);
        color: black;
    }
}

.hamburger-active {
    background: white;
    color: black;

    &:hover {
        background: rgba(255, 255, 255, .8);
    }
}